@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {display: block;}

html {scroll-behavior: smooth;}

/* || UTILITY CLASSES */
.offscreen {
    display: none;
}

.nowrap {
    text-wrap: nowrap;
}

/* || VARIABLES */
:root {
    /* COLORS */
    --BODY-BGCOLOR: papayawhip;
    --BODY-COLOR: hsl(229, 6%, 66%);
    --HEADER-COLOR: hsla(234, 12%, 34%);
    --SHADOW-COLOR: hsl(229, 6%, 66%);
    --BORDER-COLOR: hsl(0, 0%, 98%);

    /* FONT */
    --FONT-FAMILY: Poppins, sans-serif;   
}

/* || GENERAL STYLES */
body {
    font-family: var(--FONT-FAMILY);
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    color: var(--BODY-COLOR);
    margin: 1rem;
}

header {
    text-align: center;
}

.header__title,
.header__subtitle {
    font-size: clamp(1.5rem, 5vw, 2rem);
    color: var(--HEADER-COLOR);
}

.header__title {
    font-weight: 200;
}

.header__subtitle {
    font-weight: 800;
}

.main__container {
    display: grid;
    place-items: center;
}

.card {  
    padding: 0.5rem;
    margin-top: 2rem;
    width: 300px;
    height: fit-content;
    border: 1px solid hsl(0, 0%, 98%);
    border-radius: 5px;
    box-shadow: 0 5px 5px hsl(229, 6%, 66%)
}

.card__h1 {
    color: var(--HEADER-COLOR);
    font-weight: 600;
}

.card figure {
    display: flex;
    justify-content: end;
    padding: 1rem;
}

.supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);;
}

.teambuilder {
border-top: 5px solid hsl(0, 78%, 62%);
}

.karma {
border-top: 5px solid hsl(34, 97%, 64%);
}

.calculator {
border-top: 5px solid hsl(212, 86%, 64%)
}

footer {
    padding: 0.5rem;
    text-align: center;
}

/* || MOBILE VIEW */
@media screen and (min-width: 375px) {
    .main__container {
        grid-template-columns: 1fr;
        
    }
}

/* || TAB VIEW */
@media screen and (min-width: 768px) {
    .main__container {
        grid-template-columns: 1fr 1fr;
    }
}

/* || LAPTOP VIEW */
@media screen and (min-width: 1024px) {
    .main__container {
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "supervisor teambuilder calculator"
            "supervisor karma calculator";
    }

    .supervisor {
        grid-area: supervisor;       
    }

    .teambuilder {
        grid-area: teambuilder;
    }

    .karma {
        grid-area: karma;
    }
    
    .calculator {
        grid-area: calculator;
    }
}
